#main
{
    margin: 0 100px;
}

#contact_modal {
    display: none;
}

 .photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header .names
{
    margin-bottom: 15px;
    font-size: 40px;
    color: #D3573C;
}

.photograph-header .location span
{
    color: #901C1C;
    font-size: 23px;
}



.photograph-header img
{
    height: 200px;
    object-fit: cover;
    width: 200px;
    border-radius: 50%;
}

.price
{
    margin: 0 100px;
    width: 13%;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    background-color: #D3573C;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.price span
{
    font-weight: bold;
}



.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal
{
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;

}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}


form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
form #message
{
    height: 244px;
}

.sort
{
    margin-top: 25px;
}

.sort .orderBy
{
    background-color: #901C1C;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
}

.sort .orderBy>option
{

    border-bottom: 2px solid white;
}

.gallery
{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;

}

.gallery .album
{
    width: 20%;
}

.gallery .album img
{
    object-fit: cover;
    width: 255px;
    height: 255px;
}

.gallery .album .caption
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
}






